.container{
    height: 350x;
    align-content: center;
    left: 80px;
    margin-top: 2.5cm;
    

  
    }
    
    .card{
    height: 350px;
    margin-top: auto;
    margin-bottom: auto;

   
   
    }
    
    .card-header h2{
    color: rgb(27, 110, 27);
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;

    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .form{
      text-align: center;
      position: relative;
      margin:20px;
    
    }
    
 
    
    .label{
      color: rgb(27, 110, 27);
      font-size: 20px;
      font-weight: bold;
      margin-left: 290px;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
    }
    .modal-title{
        color: rgb(27, 110, 27);
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    
    }

    .navbar{
        border-bottom:2px solid  rgb(27, 110, 27);
    }
   
    
    
    